{% extends 'base.html' %}



{% block content %}


{% for category in categories %}

    <h1>{{ category.name }}</h1><br>

    {% for product in products %}
    <ul class="card-wrapper">
        <li class="card">
          <img style="width: 200px; height: 200px;" src='{{ product.image.url }}' alt='{{ product.name }}'>
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
        </li>
      </ul>
      {% empty %}
      <p>
        nothing ...
      </p>
    {% endfor %}

{% endfor %}


{% endblock %}
